<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greengram3.feed.FeedMapper">
    <insert id="insFeed" useGeneratedKeys="true" keyProperty="ifeed">
        INSERT INTO t_feed
        SET iuser = #{iuser},
        contents = #{contents},
        location = #{location}
    </insert>

    <select id="selAllFeed">
        SELECT A.ifeed, A.contents, A.location, A.created_at AS createdAt,
            A.iuser AS writerIuser, B.nm AS writerNm, B.pic AS writerPic,
        IF(C.ifeed > 0, 1, 0) AS isFav
        FROM t_feed A
        JOIN t_user B
        ON A.iuser = B.iuser
        LEFT JOIN t_feed_fav C
        ON A.ifeed = C.ifeed
        AND C.iuser = #{loginedIuser}
        ORDER BY ifeed DESC
        LIMIT #{startIdx}, #{feedCnt}
    </select>
</mapper>